<yandex>
    <!-- Network Configuration -->
    <listen_host>${CLICKHOUSE_LISTEN_HOST}</listen_host>
    <listen_port>${CLICKHOUSE_LISTEN_PORT}</listen_port>
    <path>${CLICKHOUSE_DATA_PATH}</path>
    <tmp_path>${CLICKHOUSE_TMP_PATH}</tmp_path>
    <user_files_path>${CLICKHOUSE_USER_FILES_PATH}</user_files_path>
    <format_schema_path>${CLICKHOUSE_FORMAT_SCHEMA_PATH}</format_schema_path>
    <log>${CLICKHOUSE_LOG_PATH}</log>
    <errorlog>${CLICKHOUSE_ERROR_LOG_PATH}</errorlog>
    <part_log>${CLICKHOUSE_PART_LOG_PATH}</part_log>
    <http_port>${CLICKHOUSE_HTTP_PORT}</http_port>
    <tcp_port>${CLICKHOUSE_TCP_PORT}</tcp_port>
    <interserver_http_port>${CLICKHOUSE_NATIVE_TCP_PORT}</interserver_http_port>

    <!-- Users Configuration -->
    <users>
        <default>
            <password>${CLICKHOUSE_DEFAULT_PASS}</password>
            <networks>
                <ip>::/0</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
            <access_management>1</access_management>
        </default>
        <airflow>
            <password>${CLICKHOUSE_AIRFLOW_PASS}</password>
            <networks>
                <ip>::/0</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
            <access_management>1</access_management>
        </airflow>
    </users>

    <log>CLICKHOUSE_LOG_PATH</log>
    <errorlog>CLICKHOUSE_ERROR_LOG_PATH</errorlog>
</yandex>
